* {margin: 0; box-sizing: border-box;}

.wrapper {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/* ************************* HEADER ********************* */

header {
    display: flex;
    justify-content: space-between;
    padding-left:150px;
    padding-right: 150px;
    box-shadow: 0 6px 10px -2px rgba(0, 0, 0, 0.2);
}

header .logoDiv, header .iconsDiv{
    display: flex;
    align-items: center;
}

.logo {
width: 50px;
height: auto;
}

header h1 {
    margin-left: 2px;
    display: inline;
    font-family: 'Times New Roman', Times, serif;
}

header .logoDiv:hover{
    cursor: pointer;
}

header .iconsDiv .iconsDivBtn {
    border: none;
    background-color: white;
    font-size: 18px;
    padding: 0 1em;
}

button:hover {
    cursor: pointer;
}

button.membership {
    border-radius: 20px;
    padding: 0.5em;
    background-color: white;
    border: 1px solid ;
}

.profile {
    background-color: blueviolet;
    color: beige;
    font-weight: bold;
    border-radius: 50%;
    font-size: 20px;
    padding:0.3em 0.5em;
    border: none;
    margin-left: 0.3em;
}

/* ************************* MAIN ********************* */
main {
    display: flex;
}

.mainSection {
    padding-left: 150px;
    padding-right: 150px;
    width: 65%;
}

.pages {
    display: flex;
    border-bottom: 1px solid lightgray;
    padding-top: 1.5em;
}
.pages h2 {
    margin-right: 1em;
    font-size: 18px;
    color: lightgray;
}

.pages h2:hover {
    color: gray;
    border-bottom: 1px solid grey ;
}

.articles{

}

.article{
    display: flex;
    padding: 2.5em 0;
    
}

.infos{
    display: flex;
    flex-wrap: wrap;
    width: 70%;
}
.article h3 {
    font-size: 15px;
    margin-left: 1em; 
}

.profilePicDiv {
    width: 30px;
    height: 30px;
    overflow: hidden;
    border-radius: 10px;
}
.profilePic {
    width: 100%;
    height: 100%;
    object-fit: cover;   
}

.when {
    display: flex;
    width: 65%;
    font-size: 12px;
    justify-content: space-evenly;
    align-items: center;
}

.when button{
    border-radius: 20px;
    border: none;
    padding: 0.2 0.3em;
}

.articleIcon {
    border: none;
    background-color: white;
    padding-left: 1em;
}

.articleCard {
    width: 30%;
    height: 150px;
    overflow: hidden;
}

.articleImg {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


/* ************************* SIDEBAR ********************* */
.sidebar {
    width: 30%;
    padding: 0 100px;
    border-left: 1px solid lightgrey ;

}
.connectTo{
    padding-top: 2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
}
.imagesTo{
    display: flex;
    align-items: center;
    justify-content: center;
}

.connectTo button {
    margin: 2em ;
    font-size: 18px;
    border-radius: 40px;
    padding: 0.6em 1em;
    background-color: white;
    
}

.connectTo i {
    color: rgb(0, 217, 255);
    padding-right: 0.5em ;
}

.recommended {
    margin-top: 1em;
    width: 60%;
}

.recommendedBtn {
    border-radius: 20px;
    border: none;
    margin: 4px 1px;
}

.whoToFollow {
    margin-top: 2em;
}

















/* main {
    padding: 1em 0;
    border: 2px solid purple;
}
.pages{
    border: 2px solid lightsteelblue;
}
.mainSection {
    border: 2px solid yellowgreen;
} */
/* .articles {
    border: 2px solid purple;
} */
/* .article{
    border: 1px solid palevioletred;
}
.infos {
    border: 1px solid green;
} */

/* .sidebar {
    border: 1px solid pink;
} */